body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../public/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color:white;
}

button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem
}

input {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.div1 {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card1 {
  text-align: right;
  width: 16rem;
  margin-right: 1rem;
  margin-left: 1rem; 
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  transition: 0.2s;
}

.card1:hover {
  transform: scale(1.02);
}

.card2 {
  text-align: right;
  width: 24rem;
  margin-right: 1rem;
  margin-left: 1rem; 
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: 0.2s;
}

.card2:hover {
  transform: scale(1.02);
}

img {
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
}