body {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color:white
}

button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem
}

input {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.div1 {
  display: inline-block;
  display: flex;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 1rem;
}

.div2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
} 

.card1 {
  text-align: right;
  width: 16rem;
  margin-right: 1rem;
  margin-left: 1rem; 
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.card2 {
  text-align: right;
  width: 24rem;
  margin-right: 1rem;
  margin-left: 1rem; 
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}