body {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color:white
}

button {
  margin-right: 0.5rem;
  padding: 10px 20px
}

input {
  padding: 10px 20px;
  margin-right: 0.5rem;
}

.div1 {
  margin-top: 1rem;
}

.card1 {
  width: 16rem;
  margin-right: 2rem;
  margin-left: 2rem; 
  margin-top: 2rem;
  margin-bottom: 1rem;
}